<h2>Login here..</h2>

<hr />

@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="email"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Log In" />
            </td>
        </tr>
    </table>
}


<span>
    <a href="~/files/Visual Studio 2022 Installation Process.pdf"
       target="_blank">Read instructions</a>
</span>
