@using _2_MVCCoreApp
@addTagHelper *, _2_MVCCoreApp
@addTagHelper *, _2_MVCCoreApp.TagHelpers


@model LoginViewModel

<h2>Sign In Page</h2>

@*@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.EditorFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td>
                @Html.PasswordFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Sign In"/>
            </td>
        </tr>
    </table>
}*@

<form asp-action="signin" asp-controller="account" method="post">
    <table>
        <tr>
            @*<td>
            <label asp-for="Email"></label>
            </td>
            <td>
            <input type="text" asp-for="Email"/>
            </td>*@
            <td>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">&#64;</span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    @*@Html.ValidationMessageFor(model => model.Email)*@
                    <span asp-validation-for="Email"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">&#8471;</span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                    @*@Html.ValidationMessageFor(model => model.Email)*@
                    <span asp-validation-for="Password"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @*<input type="submit" value="Sign In" class="btn btn-info"/>*@
                <command-button value="Sign In Button" class="btn btn-info">
                </command-button> | 
                <submit-button text="Create an Account"></submit-button>
            </td>
        </tr>
    </table>
</form>